div {
  border: 1px solid black;
  
  }

nav {
height: 70px;
background-color: black;
justify-content: space-between;
display: flex;
}

#home {
  background-color: green;
  padding: 20px 50px;
  font-family: Arial;
  font-weight: bold;
}

#home a {
  color: white;
  text-decoration: none;
}

#links {
  padding: 20px 50px;
  grid-template-columns: 20px 20px 20px;
  grid-template-rows: 70px 1fr;
  font-family: Arial;
  font-weight: bold;
}

#links a {
  color: white;
  text-decoration: none;
  justify-content: space-around;
}

div:hover {
  cursor: pointer;
  color: green;
}

.flex-container {
display: flex;
flex-direction: column 1fr 1fr;
justify-content: space-between;
align-items: flex-end;
}

.flex-container > div {
  text-align: center;
}
  main {}
    
    .flex-container {
      height: 500vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  
    .flex-item {
    width: 150px;
    min-width: 150px;
    height: 150px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  